body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 	
}

#d1 { top: 34px; left: 34px; }
#d2 { top: 34px; left:340px; }
#d3 { top:187px; left: 34px; }
#d4 { top:187px; left:340px; }
#d5 { top:340px; left: 34px; }
#d6 { top:340px; left:340px; }
#d7 { top:187px; left:187px; }

.dot {
  position:absolute;
	border-radius: 136px;
  width: 136px;
  height:136px;
  background: black;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 3;   
}

#dice {
  position:absolute;
  width: 510px;
  height: 510px;
	border-radius: 50px;
  background: #707070;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;   
}

#container {
  position:absolute;
  width: 510px;
  height: 510px;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 0;   
}