body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 	
}

.dot {
  position:absolute;
  background: black;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 3;   
}

#dice {
  position:absolute;
  background: #707070;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;   
}

#container {
  position:absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 0;   
}