body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}

@font-face {
  font-family: CaslonAntique-Bold;
  src: url('./fonts/CaslonAntique-Bold.ttf');
}


.can-drop {
  box-shadow: 0px 0px 15px 0px #29e;
}

.drop-target {
  background:white;
  opacity:0.4;
  border: none;
}

button {
  font-size: 18; 
  font-family: CaslonAntique-Bold;   
}

li {
  padding: 5px 0px 5px 5px;
  list-style-type: none;
  cursor:pointer;
  font-size: 18; 
  font-family: CaslonAntique-Bold;   
}

select {
  padding: 5px 0px 5px 0px;
  list-style-type: none;
  margin: 0px;  
  border:none;  
  cursor:pointer;
  font-size: 20;
  font-family: CaslonAntique-Bold;     
}

.cardsize {
  width:  120px; 
  height: 78px; /* w/h ratio should be 1.53 */
  border-radius: 3px;  
}

.cardspace {
  border:1px dashed rgba(255,255,255,0);
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 6px;
  display:inline-block;
  z-index: 2; 
}

.card { 
  position: absolute;
  z-index: 5;
}

.opponent {
  transform: rotate(180deg);
}

#boardpic {
  width:820px;
  height:735px;
  background-image: url("../images/board.png"); 
  z-index: 2; 
}

#board {
  width:820px;
  top:11px;
  left:11px;
  position:absolute;
  display:inline-block;  
  z-index: 2; 
}

#new {
  position: absolute;  
  top: 580px;
  left: 835px;
  border:none; 
  background-color: #f2f2f2; 
  z-index: 4;
}

#selector {
  position: absolute;  
  top: 0px;
  left:820px;
  width: 160px;
  height:100%;
  margin-left: 0px;
  background-color: #e0e0e0;
  z-index: 1; 
}

#pulldown {
  width: 100%;
  top: 10px;  
  position: absolute;  
  background-color: #f2f2f2;
}

#units {
  position: absolute;  
  width: 100%;
  height: 70%;
  top: 55px;
  overflow-y: auto; 
  background-color: #f2f2f2;
}
/*
#units::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
 
#units::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
 
#units::-webkit-scrollbar-thumb {
  background-color: #A5A5A5;
}
*/
#clear {
  position: absolute;  
  top: 675px;
  width: 100%;
  height:30px;  
  border:none; 
  background-color: #f2f2f2; 
  z-index: 4;
}

#actions {
  width: 160px;
  height:135px;  
  background-color: #f2f2f2;
  top: 580px;
  left: 980px;
  z-index: 10;
  position: absolute;
  transition: left 0.5s;  
  padding-top:10px;
}

#actions.visible {
  left: 820px;  
}

#container {
  width:  980px;
  height: 735px;
  padding:  0px;
  margin:   0px;
  position: absolute;  
  visibility:hidden;
  overflow: hidden;  
}

@media screen and (orientation:portrait) {
  #container {    
    width:  980px;
    height: 735px;
    padding:  0px;
    margin:   0px;
    position: absolute;  
    visibility:hidden;
    overflow: hidden;  
    top:     50%;
    left:    50%;
    transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    transform-origin: left top;
  } 
}


#loading {
  visibility:visible;
}


.centered {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);   
}

.hcentered {
  left: 50%;
  transform: translateX(-50%);  
}

.hidden  { visibility: hidden; }


/*

On iPad: 980 x 735

var h =     82; // card height
var w =  h*1.5; // card width
var p =      3; // padding

*/
