body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 	
}

.can-drop {
  box-shadow: 0px 0px 15px 0px #29e;
}

.drop-target {
  background:white;
  opacity:0.4;
  border: none;
}

ul {
}

li {
  padding: 5px 0px 5px 5px;
  list-style-type: none;
  cursor:pointer;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16; 
}

select {
  padding: 5px 0px 5px 0px;
  list-style-type: none;
  margin: 0px;  
  border:none;  
  cursor:pointer;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20;
}

.cardsize {
  width:  120px; 
  height: 78px; /* w/h ratio should be 1.53 */
  border-radius: 3px;  
}

.cardspace {
  border:1px dashed rgba(255,255,255,0);
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 6px;
  display:inline-block;
}

.card { 
  position: absolute;
}

.opponent {
  transform: rotate(180deg);
}

#board {
  width:820px;
  top:11px;
  left:11px;
  position:absolute;
  display:inline-block;   
}

#boardpic {
  width:820px;
  height:735px;
  background-image: url("../images/board.png"); 
  display:inline-block;  
}

#selector {
  width: 160px;
  height:100%;
  margin-left: 0px;
  position: absolute;  
  display:inline-block;   
  background-color: #e0e0e0;
}

#pulldown {
  width: 100%;
  display:inline-block;   
  margin: 5% 0 0 0;  
  background-color: #f2f2f2;
}

#units {
  width: 100%;
  height: 70%;
  margin: 5% 0 0 0;
  display: inline-block;
  overflow-y: scroll; 
  background-color: #f2f2f2;
}

#new {
  margin-left: 20;
  margin-top: 20;
  border:none; 
  background-color: #f2f2f2; 
}

#clear {
  margin-top: 15;
  width: 100%;
  height:30px;  
  border:none; 
  background-color: #f2f2f2; 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16;  
}

#container {
  width: 980px;
  height: 735px;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;  
  display:inline-block;   
  visibility:hidden;
}

#loading {
  visibility:visible;
}