/* ----------------------------------------------------------------------- 
    Default
   ----------------------------------------------------------------------- */

body {
  user-select: none;
  background-color: black;
}

html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

div {
	margin: 0;
	box-sizing: border-box;
  font-family: Narkisim;	  
	position: absolute;
}

@font-face {
  font-family: Narkisim;
  src: url('./fonts/nrkis.ttf');
}

/* ----------------------------------------------------------------------- 
    Board
   ----------------------------------------------------------------------- */

#map {
  background-image:url("img/board.png");
  width:1024px; height:768px;
}

#overlay {
  top: 0px; left:0px;
  height:100%; width:100%;
  background-color: black;
  opacity: 0.6;
  visibility: hidden;
	z-index:30;
}      

/* ----------------------------------------------------------------------- 
    Army Tokens
   ----------------------------------------------------------------------- */

.army {
  height:47px; width:47px;
	line-height:47px;
  font-size:32px;
	text-align: center;
  color: white;      		  
	border-width:1px;
	border-style:outset;
	border-color:gray;
	border-radius: 4px;
	transition: top 1s, left 1s, transform 1s; 
	z-index:4;
}

.slideleft  { transform: translateX(-50%) translateY( 10%);}
.slideright { transform: translateX( 50%) translateY(-10%); }

.Sinai5W { left:537px; top:583px; }
.Sinai4W { left:598px; top:550px; }
.Sinai4F { left:618px; top:533px; }
.Sinaix { left:563px; top:798px; }
.Sinai6 { left:493px; top:592px; }
.Sinai5 { left:581px; top:574px; }
.Sinai4 { left:638px; top:506px; }
.Sinai3 { left:682px; top:438px; }
.Sinai2 { left:704px; top:348px; }
.Sinai1 { left:656px; top:262px; }
.MesopotamiaX { left:1023px; top:308px; }
.Mesopotamia5 { left:970px; top:416px; }
.Mesopotamia4 { left:945px; top:339px; }
.Mesopotamia3 { left:905px; top:273px; }
.Mesopotamia2 { left:826px; top:262px; }
.Mesopotamia1 { left:754px; top:246px; }
.CaucasusX { left:997px; top:-62px; }
.Caucasus5 { left:936px; top:15px; }
.Caucasus4 { left:895px; top:91px; }
.Caucasus3 { left:813px; top:141px; }
.Caucasus2 { left:724px; top:134px; }
.Caucasus1 { left:626px; top:138px; }
.ArabX { left:1028px; top:598px; }
.Arab6 { left:960px; top:567px; }
.Arab5 { left:892px; top:505px; }
.Arab4 { left:814px; top:527px; }
.Arab3 { left:793px; top:449px; }
.Arab2 { left:704px; top:348px; }
.Arab1 { left:656px; top:262px; }
.SalonikaX { left:-52px; top:298px; }
.Salonika4 { left:165px; top:138px; }
.Salonika3 { left:178px; top:48px; }
.Salonika2 { left:259px; top:24px; }
.Salonika1 { left:334px; top:40px; }
.GallipoliX { left:-52px; top:498px; }
.Gallipoli4 { left:285px; top:457px; }
.Gallipoli3 { left:329px; top:385px; }
.Gallipoli2 { left:377px; top:314px; }
.Gallipoli1 { left:392px; top:230px; }
.Constantinople { left:418px; top:110px; }

        
#Sinai             { background-color: saddlebrown; z-index: 4;}
#Mesopotamia       { background-color: blue; }
#Caucasus          { background-color: lemonchiffon; color: black; }
#Caucasus.imperial { background-color: darkorange; color: white;}
#Arab              { background-color: green; }
#Gallipoli         { background-color: yellow; color: dimgray; }
#Salonika          { background-color: red; }

/*
#Sinai             { background-image:url("C:\\Users\\tbollaert\\Downloads\\github\\Ottoman\\work\\board\\murray1.png"); 	background-size:100%; color: black;}
#Mesopotamia       { background-image:url("C:\\Users\\tbollaert\\Downloads\\github\\Ottoman\\work\\board\\townshend.png"); 	background-size:100%; color: black;}
*/

.flag { 
	background-image:url('./img/flag.png');
	width:50px; height:50px;
	background-size:100%; 
	z-index:5;	
	transform: translateX(20px) translateY(-35px);
}

.water { 
	background-image:url('./img/water.png');
	width:30px; height:23px;
	background-size:100%; 
	z-index:3;	
	transform: translateX(-20px) translateY(10px);
}

.hidden  { visibility: hidden; }


/* ----------------------------------------------------------------------- 
    Score: National Will, Victories & Defeats
   ----------------------------------------------------------------------- */

#Score { 
	width:100px; height:100px;
	text-align: center;
	left:20px; top:20px; 	 
}

#nationalwill {
	width:100px; height:100px; border-radius:100px; background-color: #EEEEEE; border: 2px solid gray;			
	left:15px; top:0px; 
  font-size: 42px;
  line-height: 100px;
	overflow: hidden;
//  box-shadow: 0px 0px 88px 10px black;
	position: absolute;
}

#nationalwill_mask {
	left:22px; top:22px; 
	width:55px; height:55px;
	overflow: hidden;
//	border: 1px solid red;
}

#nationalwill_slider {
	left:-220px; top:0px; 	
	width:550px; height:55px;
	transition: left 1s;
}

.slider_number {
	position:static;
	width:55px; height:55px;		  
	line-height:55px; font-size:42px;
  text-align: center;	
  color: black; 
  display: inline-block;
}

#Defeats {
  width:30px; height:30px; border-radius:30px; background: linear-gradient(#fe9aa4,#fd3e51); border: 2px solid gray;
	left:10px; top:65px; 
  font-size: 22px;
  line-height: 30px;
  box-shadow: 0px 0px 65px 0px black;
}

#Victories {
  width:30px; height:30px; border-radius:30px; background: linear-gradient(#99ff99, #009933); border: 2px solid gray;
	left:50px; top:85px; 
  font-size: 22px;
  line-height: 30px;
  box-shadow: 0px 0px 65px 0px black;
}

#Stalemates {
  width:30px; height:30px; border-radius:30px; background: linear-gradient(#a6a6a6,#737373); border: 2px solid gray;
	left:90px; top:65px; 
  font-size: 22px;
  line-height: 30px;
  box-shadow: 0px 0px 65px 0px black;
}

/* ----------------------------------------------------------------------- 
    Markers and Counters
   ----------------------------------------------------------------------- */


.label {
  width:105px;
  height:40px;
	border-radius: 6px;
  padding-left: 5px;
  margin-bottom:5px;
  background-color: #EEEEEE;
  opacity: 0.7;   
  font-size:18px;  
  line-height:40px;
  text-align: left; 
  position: static;
}

.value {
  width:40px;  
  height:40px;
	border-radius:6px;
  margin-bottom:5px;
  background-color: #EEEEEE;
  opacity: 0.7;   
  font-size:28px; 
  line-height:40px;
  text-align: center; 
  position: static;
}

.highlighted { 
	animation-name: softbluePulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
}

@keyframes softbluePulse {
  from { box-shadow: 0 0  8px 5px rgba(179, 209, 255, 0.5);}
  50%  { box-shadow: 0 0 10px 5px rgba(179, 209, 255, 0.9);}
  to   { box-shadow: 0 0  8px 5px rgba(179, 209, 255, 0.5);}
}


#markers 				 { left:  0px; top:190px;  }
#labels          { left: 20px; top: 20px;  }
#values          { left:130px; top: 20px;  }

#Pipeline        { left:560px; top:500px;  border-radius: 2px; }
#AsiaKorps       { width:150px; text-align: center; padding-left: 0px;}
#Narrows         { left:217px; top:281px;  width:52px; height:52px; border-radius:2px; }
#Narrows.closed  { background-image:url("img/uboat.png"); }

#Fortification      { 
	visibility: hidden;
	z-index: 3;	
  height:49px; width:49px;
	margin: -1px;
	border-radius: 4px;
}
#Fortification.weak { visibility: visible; border: 3px dotted black; }
#Fortification.full { visibility: visible; border: 3px solid black; }


/* ----------------------------------------------------------------------- 
    Card
   ----------------------------------------------------------------------- */

#card {
  width:150px;  
  height:216px;
  top:534px;
  z-index: 25;	
	border-radius: 8px;
  background-color: #EEEEEE; 
  padding-top:  0px;
  padding-left: 10px;
  padding-right: 5px;
	box-shadow: 0px 0px 88px 10px black;
  font-size:16px;    
	transition: top 1s, left 1s;    		    
  left:-170px;
}

#card.visible {
  left:20px;
} 

/* ----------------------------------------------------------------------- 
    Info
   ----------------------------------------------------------------------- */
   
#info {
  font-size:24px;      		  
  color: white;
  z-index:50;
  display: table;
//  opacity: 0.7;      
}

span {
  display: table-cell;
  vertical-align: middle;
}

#hozirontalbar {
  background-color: lightslategray ;
  opacity: 0.7;      
}

#battlevalue {
  left: 600px;
}

#drmvalue {
  left: 730px;
	background-color: dimgray;
}

.battleinfo {
  height:80px;
  width:80px;  
  top:675px;
  border-radius: 10%;
	
	border-width:1px;
	border-style:outset;
	border-color:gray;  
//	visibility: hidden;
  transform: rotateY(90deg);
  color: white;
}

.battleinfo.show {
  transform: rotateY(0deg);
 	transition: transform 0.5s; 
}


.battlenumber {
  height:50%;
  width:100%;
  top:  10%;
  left: 0px;  		
  font-size:48px;   
  text-align: center;		
}

.battlelabel {
  height:20%;
  width:100%;
  top: 75%;
  left: 0px;  	
  font-size:18px;   
  text-align: center;		
}

.West {
	background-color: red;	
}
.East {
	background-color: darkgreen;	
}
.Naval {
	background-color: mediumblue;	
}
.Coup {
	background-color: tan;
	color: black;
}

.bottombar {
  height:108px;
  width:1024px;  
  left:0px;
  top:660px;	
  padding-top: 5;
  padding-left: 200;
}

/* ----------------------------------------------------------------------- 
    Die Rolls
   ----------------------------------------------------------------------- */
   
.success { 
  animation-name: greenPulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
}

.failure { 
  animation-name: redPulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
}

@keyframes redPulse {
  from { box-shadow: 0 0 40px 2px rgba(255, 0, 0, 0.2);}
  50%  { box-shadow: 0 0 60px 2px rgba(255, 0, 0, 0.6);}
  to   { box-shadow: 0 0 40px 2px rgba(255, 0, 0, 0.2);}
}

@keyframes greenPulse {
  from { box-shadow: 0 0 40px 2px rgba(0, 128, 0, 0.2);}
  50%  { box-shadow: 0 0 60px 2px rgba(0, 128, 0, 0.6);}
  to   { box-shadow: 0 0 40px 2px rgba(0, 128, 0, 0.2);}
}

#die {
	border-width:1px;
	border-style:outset;
	border-color:gray;	
}

/* ----------------------------------------------------------------------- 
    The Narrows Display
   ----------------------------------------------------------------------- */

.specialmap {
  height:500px;
  width:600px;
  opacity: 1;
  z-index: 35;
	border: 4px solid gray;  
}   
   
#narrowsmap {
  background-image:url("img/narrows.png");
}  

#Seddulbahir     { left: 61px; top:330px;  }
#Mumkale         { left:147px; top:432px;  }
#Minefield_1     { left:301px; top:319px;  }
#Yildiz          { left:427px; top:283px;  }
#Dardanos        { left:334px; top:171px;  }
#Minefield_2     { left:417px; top:193px;  }
#Canakkale       { left:519px; top:198px;  }
#Nagara          { left:491px; top: 89px;  }
#Constantinople  { left:520px; top: 12px;  }

.defense {		
	border: 5px dashed black;
	width: 51px;
	height: 51px;
  font-size:32px; 
  text-align: center;
  line-height: 41px;     		
  background-color: rgba(255,255,255,0.3);  
}

.defense.mine {
	border: 5px solid black;
	background: blue;
}

.defense.gun {
	border: 5px solid black;
	background: orange;
}

#fortitude { visibility: hidden; }

#fortitude_text {
	left:10px; top: 15px; 
  font-size:32px; 
  color: rgb(255,242,204);	  
}

#fortitude_mask {
	left:150px; top:17px; 
	width:55px; height:55px; 
	border-radius:55px;
	overflow: hidden;
  background-color: rgba(255,255,255,0.5);  	
}

#fortitude_slider {
	transition: top 1s;
}

/* ----------------------------------------------------------------------- 
    Intelligence Bureau
   ----------------------------------------------------------------------- */
   
#bureaumap {
  background: black;
}   

#bureautext {
	top: 50px;
	width: 100%;	
  font-size:32px; 
  text-align: center;
  color: rgb(255,242,204);	  
}


.bureaubutton {
  width: 120px;
  height:100px;
  margin-top: 190px;
  margin-left: 12px;
  margin-right: 12px;
  position: static;
}

.bureaubutton:disabled {
	opacity:0.6;
}

/* ----------------------------------------------------------------------- 
    Battle Info
   ----------------------------------------------------------------------- */
   
#battlemap {
  background: black;
	padding-left: 20px;
  font-size:24px; 
  color: rgb(255,242,204);	
}   

/* ----------------------------------------------------------------------- 
    Event Options
   ----------------------------------------------------------------------- */

#choice {
  font-size:16px;      		  
  padding-top: 5;
  padding-left: 200;
  height:108px;
  width:1024px;  
  left:0px;
  top:660px;
	visibility: hidden;
	z-index:20;
}

#op1 {
  top: 28px;
  left:200px;
  width: 300px;
  height: 60px;
}

#op2 {
  top: 28px;
  left:600px;
  width: 300px;
  height: 60px;
}

button {
	border-radius: 8px;
  font-family: Narkisim;	  
  font-size:24px;      		  
  color: white;
  background-color: lightslategray;  	
  position: absolute;
}

/* ----------------------------------------------------------------------- 
    My Console
   ----------------------------------------------------------------------- */
#myconsole {
  
  top: 0px;
  left: 1024px;
  background: black;
  opacity: 0.5;
  width:400px;
  height:768px;
  opacity: 1;
  overflow: scroll;
  font-family: "Lucida Console", Monaco, monospace;	 
  font-size: 12px; 
  color: white;
  z-index: 100;
	border: 4px solid gray;  
}  

/* ----------------------------------------------------------------------- 
   Container
   ----------------------------------------------------------------------- */
   
#container {   
  height: 768px;
  width: 1024px;
  opacity: 1;
  background-color: black;
  overflow: hidden;
  transition: opacity 0.8s ease-in-out;
}

#container.fade {
	opacity: 0;
}


#splash {
  background-image:url("img/splash.png");
  width:100%; height:100%;
  z-index: 100;
  transition: opacity 1s ease-in-out;
}

#splash.fade {
	opacity: 0;
}

#game {
  width:100%; height:100%;
  z-index: 1;
  //visibility: hidden;
}


@media screen and (orientation:portrait) {
  #container { 	  
	  height: 768px;
	  width: 1024px;
    top: 50%;
	  left: 50%;
	  transform: rotate(-90deg) translateY(-50%) translateX(-50%);
    transform-origin: left top;
  }	
}

/* ----------------------------------------------------------------------- */

.centered {
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%); 	
}

.hcentered {
	left: 50%;
	transform: translateX(-50%); 	
}

#version {
  font-size: 12px; 
  font-style: italic;
  text-align: right;
	position: fixed;
	right:5;
	bottom:5;
  margin-right: 7;	  
}

