body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 	
}

.city {
  position:absolute;
	border-radius: 15px;
  width: 15px;
  height:15px;
  background-color: #707070;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 5;   
}

.p0color {
	background: linear-gradient( #cce6ff, #005cb3);
  border: 1px solid #005cb3;
}

.p1color {
	background: linear-gradient( #ffe6e6, #cc0000);
  border: 1px solid #cc0000;
}

.p2color {
	background: linear-gradient( #ccffcc, #009900);
  border: 1px solid #009900;
}

.p3color {
	background: linear-gradient( #ffffcc, #cccc00);
  border: 1px solid #cccc00;
}

.p4color {
	background: linear-gradient( #ffccff, #cc00cc);
  border: 1px solid #cc00cc;
}

.track {
  position:absolute;
  width: 50px;
  height: 2px;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 1;   
  cursor: crosshair;
}

.track1 {
  background: #D4D4D4;
	border-style: solid;
	border-color: white;
}

.track2 {
  background: #D4D4D4;
	box-shadow: 0px 0px 4px 2px #888888;
}

.trackClicked {
  background: black;
  height: 5px;
  z-index: 3;
  cursor:not-allowed;
}

.drop-target { 
  background: yellow;
}


.rot000 {
//  transform: rotate(0deg);
//  transform-origin: left;
//  z-index:4;
}

.rot060 {
  transform: rotate(60deg);
  transform-origin: left;
}

.rot120 {
  transform: rotate(120deg);
  transform-origin: left;
}

#container {
  width: 980px;
  height: 735px;
	box-sizing: border-box;
  border:5px solid #E6E6E6;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 0;   
}

#map {
  top: 40px;
  left:60px;
	position: absolute;
  z-index: 0;   
}

#visor {
  position:absolute;
	border-radius: 25px;
  width: 25px;
  height:25px;
  border: 2px solid red;
	box-sizing: border-box;
	//background: #E6E6E6;
  padding: 0;
  margin: 0;
  z-index: 10; 
  visibility: hidden;  
}

#info {
  font-family: "Lucida Console", Monaco, monospace;	  
  font-size:18px;      		  
  width: 710px;
  height: 140px;
	box-sizing: border-box;
	//background: #E6E6E6;
  //border:5px solid #E6E6E6;
  padding: 0;
  margin: 0;
  top: 590px;
  left:100px;
	position: absolute;
  z-index: 0;   
}

#buttons {
	position: absolute;
  top: 630px;
  left:200px;
}

.gbutton {
  width: 100px;
  height: 50px;
	margin: 20px;
  z-index: 0;   
}


