body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 	
}

html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden
}

.city {
  position:absolute;
//	border-radius: 15px;
//  width: 15px;
//  height:15px;
  background-color: #707070;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 5;   
}

.p0color {
	background: linear-gradient( #cce6ff, #005cb3);
  border: 1px solid #005cb3;
}

.p1color {
	background: linear-gradient( #ffe6e6, #cc0000);
  border: 1px solid #cc0000;
}

.p2color {
	background: linear-gradient( #ccffcc, #009900);
  border: 1px solid #009900;
}

.p3color {
	background: linear-gradient( #ffffcc, #cccc00);
  border: 1px solid #cccc00;
}

.p4color {
	background: linear-gradient( #ffccff, #cc00cc);
  border: 1px solid #cc00cc;
}

.track {
  position:absolute;
//  width: 50px;
  height: 2px;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 1;   
  cursor: crosshair;
}

.track1 {
  background: #D4D4D4;
	border-style: solid;
	border-color: white;
}

.track2 {
  background: #D4D4D4;
	box-shadow: 0px 0px 4px 2px #888888;
}

.highlight { 
  background: orange;
  height: 5px;
	box-shadow: 0px 0px 20px 5px yellow;
}

.trackClicked {
  background: black;
  height: 5px;
  z-index: 3;
  cursor:not-allowed;
}

.rot000 {
//  transform: rotate(0deg);
//  transform-origin: left;
}

.rot060 {
  transform: rotate(60deg);
  transform-origin: left;
}

.rot120 {
  transform: rotate(120deg);
  transform-origin: left;
}

#container {
  height: 720px;
  width: 980px;
	box-sizing: border-box;
  border: 0;
  padding: 0;
  position:absolute;
  margin: 0;
  z-index: 0;   
}

#version {
	position: absolute;
  top: 698px;
  left:835px;
  font-family: "Lucida Console", Monaco, monospace;	  
  font-size:12px; 
  font-style: italic;
}

#map {
  top: 30px;
  left:20px;
  height: 533px;
  width: 850px;
	position: absolute;
	//background-color: red;
  z-index: 0;   
}

#confirm {
  top: 40px;
  left:730px;	
  position:absolute;
  width:60px;
  height:60px;
	border-radius:60px;
	line-height:64px; 
  background-color: #909090;
	box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;	  
  font-size:32px;
	text-align: center; 
  font-style: bold;
  color: white;    		  
  padding: 0;
  margin: 0;
	cursor:pointer;    
  z-index: 5;   
}

#info {
  font-family: "Lucida Console", Monaco, monospace;	  
  font-size:18px;      		  
  width: 710px;
  height: 140px;
	box-sizing: border-box;
	//background: #E6E6E6;
  //border:5px solid #E6E6E6;
  padding: 0;
  margin: 0;
  top: 620px;
  left:100px;
	position: absolute;
  z-index: 0;   
}

#buttons {
	position: absolute;
  top: 610px;
  left:200px;
}

.gbutton {
  width: 100px;
  height: 50px;
	margin: 20px;
  z-index: 0;   
	cursor:pointer;  
}


